[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mysql = "*"
django-environ = "*"
mysqlclient = "*"
django-jazzmin = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.9"
